.colorpicker-view {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.colorpicker-edit {
  display: flex;
  align-items: center;
}

.colorpicker-text[style*="--colorpicker-background:"] {
  background: var(--colorpicker-background);
}

.colorpicker-text[style*="--colorpicker-foreground:"] {
  color: var(--colorpicker-foreground);
}

.colorpicker-tip {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 4px;
}

.colorpicker-input {
  display: inline-block;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 0;
  border: none;
  box-shadow: 0 1px 6px rgb(64 64 64 / 20%);
  margin-right: 6px;
  box-sizing: border-box;
}

.colorpicker-input::-webkit-color-swatch {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
